%section#contact-section
	.contact-container
		.row.full-height
			.col-md-6.full-height.left-half
				%h1 Let's Talk
			.col-md-6.full-height.right-half
				%h2 If you think this could be a partnership made in heaven, please reach out!
				= form_for @lead, url: {controller: 'leads', action: 'create'}, html: {class: ''} do |f|
					.form-control-label
						Name:
					= f.text_field :name, class: 'form-control'
					%br
					.form-control-label
						Email:
					= f.text_field :email, class: 'form-control'
					%br
					.form-control-label
						What're you passionate about:
					= f.text_field :topic, class: 'form-control'
					%br
					.form-control-label
						What can we do for you?
					= f.text_area :message, class: 'form-control'
					%br
					.centered
						= f.submit 'HIRE US', class: 'btn btn-primary'