.calculator-container
	.container
		%h1 Does your app require an API?
		= form_for @estimate, url: estimate_path(@estimate), method: 'patch', html: { class: 'estimate-form' } do |f|
			= f.hidden_field :current_step, value: 'api'
			.row.options-container
				.col-sm-4.option-col
					= f.radio_button :api, true, class: 'hidden'
					= f.label :api_true do
						.option
							.option-display
								= image_tag 'calculator/api_yes@2x'
							%p.option-text
								Yes
				.col-sm-4.option-col
					= f.radio_button :api, false, class: 'hidden'
					= f.label :api_false do
						.option
							.option-display
								= image_tag 'calculator/api_no2@2x'
							%p.option-text
								No
				.col-sm-4.option-col
					= f.check_box :api_unsure, class: 'hidden'
					= f.label :api_unsure do
						.option
							.option-display
								= image_tag 'calculator/api_unknown@2x'
							%p.option-text
								I'm not sure
			.calculator-nav
				= f.submit 'Continue', class: 'btn btn-primary'