.calculator-container
	.container
		%h1 Your Estimate
		%p.lead
			Please enter your email to receive your free quote. We promise not to spam you, but we're happy to help you build your app.
		= form_for @estimate, html: { class: 'estimate-form' } do |f|
			= f.hidden_field :current_step, value: 'email'
			.row
				.col-sm-6.offset-sm-3
					.form-group
						= f.label :email, 'Email address', class: 'control-label f500', style: 'float: left; font-weight: 500'
						= f.email_field :email, class: 'form-control'
					.form-group
						= f.label :phone, 'Phone number', class: 'control-label f500', style: 'float: left; font-weight: 500'
						= f.text_field :phone, class: 'form-control'
					.form-group
						= f.check_box :work_with_us
						= f.label :work_with_us, "Please reach out so we can explore working together"
			.calculator-nav
				= f.submit 'Continue', class: 'btn btn-primary'
